<?xml version="1.0"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="training_test2" instance="AAllen\Test\Observer\Test" shared="true" disabled="false" />
    </event>
    <event name="sales_quote_item_set_product">
        <observer name="custom_price" instance="AAllen\Test\Observer\Price" shared="true" disabled="false"/>
    </event>
</config>