<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AAllen\CheckoutCheckbox\Api\GiftwrapManagementInterface" type="AAllen\CheckoutCheckbox\Model\GiftwrapManagement" />

    <type name="Magento\Quote\Api\CartTotalRepositoryInterface">
        <plugin name="addGiftwrap" type="AAllen\CheckoutCheckbox\Plugin\GiftwrapPlug" disabled="false"/>
    </type>
</config>
